.start {
    background: radial-gradient(ellipse at bottom, rgba(27, 39, 53, 1) 25%, rgba(9, 10, 15, 1) 100%);
    position: absolute;
    background-color: rgb(5, 0, 25);
    margin: -8px;
    width: 100%;
    height: 100%;    
}

.smallstars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animateStars 20s linear infinite;
    border-radius: 2px;

    &:after{
        content: " ";
        position: absolute;
        top: 100vh;
        width: 1px;
        height: 1px;
        background: transparent;
    }
}

.mediumstars {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animateStars 40s linear infinite;

    &:after{
        content: " ";
        position: absolute;
        top: 100vh;
        width: 2px;
        height: 2px;
        background: transparent;
    }
}

.bigstars {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animateStars 60s linear infinite;

    &:after{
        content: " ";
        position: absolute;
        top: 100vh;
        width: 3px;
        height: 3px;
        background: transparent;
    }
}

@keyframes animateStars {
    from {
        transform: translateY(0px);
    }	
    to {
        transform: translateY(-100vh)
    }
}

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5vw;
    font-size: 5rem;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 30px;
    text-align: left;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    z-index: 1;
}

.menu {
    position: fixed;
    top: 0px;
    padding: 10px;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 10;
    right: 20px;
}

@media screen and (max-width:520px) {
    .menuitem {
        display: none;
    }
}

.menuitem a{
    color: white;
    font-size: 24px;
    top: 0;
    margin: auto;
    position: relative;
    padding: 6px;
    margin: 14px;
    text-decoration: none;
    display: inline-block;
    transition: transform 250ms ease-in-out;
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 30px;
}

.menuitem:hover a {
    border-bottom: 3px solid rgb(0, 38, 255);
    
    animation: menuItemHover 250ms ease-in-out forwards;
    cursor: pointer;
}

@keyframes menuItemHover{
    0% {
        
    }
    50% {
        top: 4px;
    }
    100% {
        top: 2px;
    }
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}